/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
	font-family: 'Open Sans', sans-serif
}
.header{
	background: #fff;
	height: 820px;
	padding: 70px 0;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
.header_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	color: #5abb33;
	font-weight: 700;
	font-size: 28px;
	line-height: 1;
}
.logo span{
	color: black;
}
.menu{
	display: flex;
}
.menu_item{
	margin-right: 50px;
}
.menu_item:first-child{
	color: #5abb33;
}
.menu_item:last-child{
	margin-right: 0px;
}
.menu_link{
	color: black;
	font-size: 18px;
	font-weight: 600;
}
.menu_link:hover{
	color: #5abb33;
	transition: 0.10s;
}
.header_content{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.header_desc{
	width: 400px;
	height: 400px;
	margin-top: 70px;
}
.header_title{
	font-weight: 700;
	font-size: 48px;
}
.header_text{
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	margin-top: 30px;
}
.header_photo{
	margin-left: 450px;
	margin-top: -300px;
}
.wrapper{
	width: 100%;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: -130px;
	margin-bottom: 130px;
}
.wave-btn {
	width: 250px;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius: 60px;
	text-decoration: none;
}

.wave-btn:hover {
	border-radius: 40px;
	transition: all 0.8s ease 0.2s;
	-webkit-transition: all 0.8s ease 0.2s;
	-moz-transition: all 0.8s ease 0.2s;
	-ms-transition: all 0.8s ease 0.2s;
	-o-transition: all 0.8s ease 0.2s;
	-webkit-box-shadow: 0 0 40px #fff;
	box-shadow: 0 0 40px #fff;
}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}
.wave-btn__text {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #fadb60;
	top: 0;
	left: 0;
	-webkit-box-shadow: inset 0 0 50px #fff;
	box-shadow: inset 0 0 50px #fff;
	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background-color: #fff;
	border-radius: 48%;
	animation: waves 5s infinite linear;
	-webkit-animation: waves 5s infinite linear;
	-moz-animation: waves 5s infinite linear;
	-o-animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: #fff;
	border-radius: 44%;
	animation: waves 10s infinite linear;
	-webkit-animation: waves 10s infinite linear;
	-moz-animation: waves 10s infinite linear;
	-o-animation: waves 10s infinite linear;
}
.header_social-items{
	margin-top: 0px;
	font-size: 27px;
	padding-right: 30px;
	color: #34383c;	
}
.header_social-items:hover{
	transition: all .2s;
	opacity: 0.5;
	color: #6c8801;
}
.header_social-items:last-child{
	padding-right: 0;
}
/* Keyframes для кнопки */
@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
/* Магазин */
.blockSecond{
	width: 1000px;
	margin: 0 auto;
	height: 820px;
	padding: 70px 0;
}
.blocktitle{

}
.blocktext{
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	color: #6c8801;
	letter-spacing: 5px;
	font-size: 35px;
}

.block-image{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.block-image-icon{
	padding: 20px 30px 20px 30px;
}

.image1{
	padding: 40px 0 0 40px;

}
.image-text{
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	opacity: 0.8;
}

.image-price{
	color: black;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	opacity: 0.8;
}
.image-price:hover{
	font-size: 20px;
	color: black;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	opacity: 0.8;
	transition: .40s;
	transition-timing-function: ease-out;
	
}
/* о нас */
.feedback{
	width: 1000px;
	margin: 0 auto;
	height: 820px;
	padding: 70px 0;
}
.feedbacktext{
}
.feedbacktitle{
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	color: #6c8801;
	letter-spacing: 5px;
	font-size: 35px;
}
.feedback-image{
	display: flex;
	justify-content: space-between;
}
.feedback-image-text{
	padding-top: 80px;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	opacity: 0.8;
	width: 500px;
	letter-spacing: 1px;
}
.feedback-icon{
	margin-top: -120px;
	margin-right: -100px;
}
.blockanswer{
	width: 1000px;
	margin: 0 auto;
	height: 820px;
	padding: 70px 0;
}

.block-answer-text{

}
.answer-text-one{
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	color: #6c8801;
	letter-spacing: 5px;
	font-size: 28px;
}

.answer-text-two{
	padding-top: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #6c8801;
	letter-spacing: 3px;
	font-size: 24px
}
.answer-text-two:hover{
	font-size: 32px;
	transition: .40s;
	transition-timing-function: ease-in-out;
}
.answer-text-three{
	opacity: 0.8;
	line-height: 1.4;
	padding-top: 20px;
}

footer{
	background: #111;
	padding-top: 40px;
	color: #ffffff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.juice-text{
	color: #fff;
}
.footer-content P{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	display: flex;
	align-items: center;
	justify-content: center;
	margin:  1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	color: #ffffff;
}
.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
	font-size: 20px;
}
.socials a:hover i{
	color: #6c8801;
}
.footer-bottom{
	background: #000;
	padding: 20px;
	text-align: center;
}
.footer-bottom p{
	color: fff;
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	opacity: 4;
	font-weight: 200;
}
.linkphone{
	color: #fff;
}